/dist
/src-bex/www
/src-capacitor
/src-cordova
/.quasar
/node_modules
.eslintrc.js

/.vscode
.postcssrc.js
jsconfig.json
quasar.conf.js
version.js
README.md
/src-electron/electron-flag.d.ts
/src/boot
/src/store
/src/css/quasar.variables.scss
/src/pages/Error404.vue
/src/router/index.js
/src/index.template.html
