// app global css in SCSS form

.btn-icon-left-padding-sm .on-left {
  margin-right: map-get($space-sm, 'x');
}

.text-link {
  color: #00f;
  text-decoration: underline;
  cursor: pointer;
}

.text-muted {
  opacity: 0.5;
}
